/*
    I fucked up something in your code
    now honestly I just want to go to sleep
    good night
    Dave 16.01 23:25
*/

/*body*/
body {
    padding: 0px;
    margin: 0px;
    background-image: url(../../assets/backgrounds/backgroundIndex.png);
    background-repeat: repeat-y;
    background-size: 100%;
    overflow: hidden;

}

/*body*/



/*classes*/
.vertical {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttons{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
    

    border-radius: 10px;
    margin: 0;
    
    
}

/*classes*/



/*H1*/
h1#gameName {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 8vw;
    vertical-align: middle;
    color: white;
    text-shadow: 0px 2px 10px black;
    user-select: none;

}

/*H1*/




/*div*/

div#back{
    font-size: 5vmin;
    background-color: rgba(143, 143, 143, 0.5);
    height: 15vmin;
    width: 30vmin;
    user-select: none;

}

div#colors{
    font-size: 5vmin;
    background-color: rgba(143, 143, 143, 0.5);
    height: 23vmin;
    width: 60vmin;
    user-select: none;

}

div#start {
    
    font-size: 5vmin;
    background-color: rgba(143, 143, 143, 0.5);
    height: 15vmin;
    width: 30vmin;
    user-select: none;  
}

div#settings {

    
    font-size: 5vmin;
    background-color: rgba(143, 143, 143, 0.5);
    height: 15vmin;
    width: 30vmin;
    user-select: none;
    

}

div#settings:hover {
    background-color: rgba(117, 117, 117, 0.5);
    cursor: pointer;
}

div#start:hover {
    background-color: rgba(117, 117, 117, 0.5);
    cursor: pointer;
}

/*div*/




/*section*/
section#allButtons {
    width: 60vmin;
    height: 42vmin;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-shadow: 0px 2px 10px rgb(129, 129, 129);
    box-shadow: 0px 10px 0px rgb(147, 147, 147);
    border-radius: 10px;
    
}

section#colorSection{
    position: fixed;
    width: 100%;
    height: 20vmin;
    display: flex;
    margin: auto;
    margin-bottom: 5vmax;
}

section#backSection{
    position: fixed;
    padding-left: 15vmin;
    padding-top: 24vmin;
    width: 100%;
    height: 20vmin;
    display: flex;
    margin: auto;
    margin-bottom: 5vmax;

}

section#gameNameSection {
    width: 100%;
    height: 20vmin;
    display: flex;
    margin: auto;
    margin-bottom: 5vmax;
}

section#startSection{
    width: 100%;
    height: 15vmin;
    float: left;

    margin-left: 15vmin;
}

section#settingsSection{
    width: 100%;
    height: 10vmin;
    float: left;
    
    margin-left: 15vmin;
    margin-top: 2vmin;
}




/*section*/

/*audio*/

audio#popSound{
display: none;

}

/*audio*/

/*input*/

input#name {
    font-size: 3vmin;
    margin: 0.5vmin;
    width: 25vmin;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

/*input*/

/*form*/
form#nameForm{
    width: 100%;
    height: 5vmin;
    text-align: center;
    margin-bottom: 2vmin;
    float: left;
}

/*form*/