/*
    I fucked up something in your code
    now honestly I just want to go to sleep
    good night
    Dave 16.01 23:25
*/

/*body*/
*{
    z-index: 0;
    
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url(../../assets/backgrounds/backgroundIndex.png);
    background-repeat: repeat-y;
    background-size: 100%;
    overflow: hidden;

}

/*body*/



/*classes*/
.vertical {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttons{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
    

    border-radius: 10px;
    margin: 0;
    
    
}

.colorsChild{
    z-index: 3;
    float: left;
    background-color: black;
    border-radius: 10px;
    margin-top: -10vmin; 
    width: 8vmin;
    height: 8vmin;
    margin-left: 0.25vmin;
    position: fixed;
    cursor: pointer;
}

.buttons:hover{
    background-color: rgba(117, 117, 117, 0.5) !important;
    cursor: pointer;

}

/*classes*/



/*H1*/
h1#gameName {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 8vw;
    vertical-align: middle;
    color: white;
    text-shadow: 0px 2px 10px black;
    user-select: none;

}

/*H1*/




/*div*/

div#back{
    font-size: 5vmin;
    background-color: rgba(143, 143, 143, 0.5);
    height: 15vmin;
    width: 30vmin;
    user-select: none;
    

}

div#colors{
    z-index: 2;
    font-size: 5vmin;
    background-color: rgba(143, 143, 143, 0.5);
    height: 22vmin;
    width: 60vmin;
    user-select: none;
    border-radius: 10px 10px 0px 0px;

}

div#start {
    
    font-size: 5vmin;
    background-color: rgba(143, 143, 143, 0.5);
    height: 15vmin;
    width: 30vmin;
    user-select: none;  
}

div#settings {

    
    font-size: 5vmin;
    background-color: rgba(143, 143, 143, 0.5);
    height: 15vmin;
    width: 30vmin;
    user-select: none;
    

}





div#colors{
    background-color: rgba(143, 143, 143, 0.5) !important;
    cursor:default;
}

/*div*/




/*section*/
section#allButtons {
    width: 60vmin;
    height: 42vmin;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 3px solid rgb(147, 147, 147);
    text-shadow: 0px 2px 10px rgb(129, 129, 129);
    box-shadow: 0px 10px 0px rgb(147, 147, 147);
    border-radius: 15px;
    
}

section#colorSection{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 22vmin;
    display: flex;
    margin: auto;
    margin-bottom: 5vmax;
}

section#backSection{
    z-index: 0;
    position: fixed;
    padding-left: 15vmin;
    padding-top: 24vmin;
    width: 100%;
    height: 20vmin;
    display: flex;
    margin: auto;
    margin-bottom: 5vmax;

}

section#gameNameSection {
    width: 100%;
    height: 20vmin;
    display: flex;
    margin: auto;
    margin-bottom: 5vmax;
}

section#startSection{
    width: 100%;
    height: 15vmin;
    float: left;

    margin-left: 15vmin;
}

section#settingsSection{
    width: 100%;
    height: 10vmin;
    float: left;
    
    margin-left: 15vmin;
    margin-top: 2vmin;
}

section#soundSection{
    z-index: 1;
    position: fixed;
    margin-top: 30vmin;
    margin-left: 2vmin;
    
}


/*section*/

/*audio*/

audio#popSound{
display: none;

}

/*audio*/

/*input*/

input#name {
    font-size: 3vmin;
    margin: 0.5vmin;
    width: 35vmin;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

input#soundLevel{
    position: fixed;
    margin-left: 5vmin;
    margin-top: 1.5vmin

}

input#soundLevel:hover{
    cursor: pointer;

}

/*input*/

/*form*/
form#nameForm{
    width: 100%;
    height: 5vmin;
    text-align: center;
    margin-bottom: 2vmin;
    float: left;
}

/*form*/

/*image*/

img#volumeIcon{
    z-index: 2;
    position: fixed;
    user-select: none;
}

img#volumeIcon:hover{
    cursor: pointer;
}


/*image*/