/*i need to fix these widths fucks thingies (IMPORTANR!!!!!)*/
/*
    I fucked up something in your code
    now honestly I just want to go to sleep
    good night
    Dave 16.01 23:25
*/


body {
    padding: 0px;
    margin: 0px;
    background-image: url(../../assets/backgrounds/backgroundIndex.png);
    background-repeat: repeat-y;
    background-size: 100%;


}


.vertical{
  margin: 0;
  position:relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


}
   
a#start {
    text-decoration: none;
    font-size: 5vmin;
    background-color: rgba(143, 143, 143, 0.5); /* Optional background */
    color: white; /* Adjust text color */
    border-radius: 10px; /*rounded corners */
    text-align: center;
    height: 15vmin;
    width: 30vmin;
}


h1#gameName {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-height: 20vmin;
    font-size: 10vw;
    vertical-align:middle;
    color:white;
    text-shadow: 0px 2px 10px black;


}


.horizontal {
    text-align: center;
    display: flex;
    justify-content: center; /* Center the link horizontally */
    align-items: center;    /* Center the link vertically if needed */
    height: 100%;           /* Make it fill the section */
}


section#buttons {
    width: 50%;
    height: 30vmin;
    background-color: white;
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: auto;
    text-shadow: 0px 2px 10px rgb(129, 129, 129);
    box-shadow: 0px 10px 0px rgb(147, 147, 147);
}


section#gameNameSection {
    width: 100%;
    height: 20vmin;
    display: block;
    margin: auto;
    margin-bottom: 10vmax;
}

